# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv310/
env/
.venv/

# IDE folders
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/
